@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  background: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  font-size: 2.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(210, 10%, 33%);
  margin-top: 3rem;
}
header p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  margin-top: 1rem;
  width: 40%;
  text-align: center;
}
header .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 3rem;
}
header .btn-container .btn {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: hsl(233, 100%, 69%);
  color: white;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .btn-container :last-child {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: hsl(171, 66%, 44%);
  color: white;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .btn-container .btn:hover {
  opacity: 0.8;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h2 {
  font-size: 2rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  text-align: center;
  color: hsl(210, 10%, 33%);
}
.hero p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 45%;
  margin-top: 1rem;
  line-height: 1.75rem;
}
.hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}
.hero .hero-container .hero-img {
  position: relative;
  left: -50px;
}
.hero .hero-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 3rem;
}
.hero .hero-content h3 {
  font-size: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  color: hsl(210, 10%, 33%);
}
.hero .hero-content p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  width: 65%;
  text-align: left;
}

.device-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.device-section h2 {
  font-size: 2rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  text-align: center;
  color: hsl(210, 10%, 33%);
}
.device-section p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 45%;
  margin-top: 1rem;
  line-height: 1.75rem;
}
.device-section img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
}

.tools-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tools-section h2 {
  font-size: 2rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  text-align: center;
  color: hsl(210, 10%, 33%);
}
.tools-section p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 45%;
  margin-top: 1rem;
  line-height: 1.75rem;
}
.tools-section .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.tools-section .card-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 250px;
}
.tools-section .card-container .card img {
  width: 40px;
  height: 40px;
  aspect-ratio: 9/16;
}
.tools-section .card-container .card h3 {
  font-size: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  color: hsl(210, 10%, 33%);
  margin-top: 3rem;
}
.tools-section .card-container .card p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 100%;
}

.client-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 40vh;
}
.client-section .client-group {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.callback-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.callback-section h2 {
  font-size: 2rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 800;
  text-align: center;
  color: hsl(210, 10%, 33%);
}
.callback-section p {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 45%;
  margin-top: 1rem;
  line-height: 1.75rem;
}
.callback-section .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 3rem;
}
.callback-section .btn-container .btn {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: hsl(233, 100%, 69%);
  color: white;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.callback-section .btn-container :last-child {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: hsl(171, 66%, 44%);
  color: white;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.callback-section .btn-container .btn:hover {
  opacity: 0.8;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 3rem 10rem;
  background-color: hsl(0, 0%, 95%);
}
.footer-link .nav-brand {
  width: 50px;
  height: 50px;
}
.footer-link .link-group {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  row-gap: 1rem;
  margin-left: 10rem;
}
.footer-link .link-group li a {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  transition: all 0.3s ease-in-out;
}
.footer-link .link-group li a:hover {
  color: hsl(171, 66%, 44%);
}
.footer-link .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-left: 25rem;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 820px) {
  header {
    background: url(../images/bg-header-mobile.png);
    background-size: cover;
    height: 60vh;
  }
  header p {
    width: 70%;
  }
}
@media screen and (max-width: 820px) {
  header {
    background: url(../images/bg-header-mobile.png);
    background-size: cover;
    height: 100vh;
    padding: 0 2.25rem;
  }
  header h1 {
    font-size: 2rem;
    text-align: center;
  }
  header p {
    width: 100%;
  }
  header .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  header .btn-container .btn {
    width: 350px;
    padding: 1.2rem 0;
  }
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.25rem;
  }
  .hero h2 {
    font-size: 2rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 800;
    text-align: center;
    color: hsl(210, 10%, 33%);
  }
  .hero p {
    font-size: 1.125rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 45%;
    margin-top: 1rem;
    line-height: 1.75rem;
    width: 100%;
  }
  .hero .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
  }
  .hero .hero-container .hero-img {
    position: relative;
    left: 0px;
    width: 350px;
  }
  .hero .hero-content {
    padding: 2.25rem;
    margin-top: 1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }
  .hero .hero-content h3 {
    text-align: center;
  }
  .hero .hero-content p {
    width: 100%;
    text-align: center;
  }
  .device-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.25rem;
  }
  .device-section h2 {
    width: 100%;
  }
  .device-section p {
    width: 100%;
  }
  .device-section img {
    width: 345px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tools-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.25rem;
  }
  .tools-section h2 {
    font-size: 2rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 800;
    text-align: center;
    color: hsl(210, 10%, 33%);
  }
  .tools-section p {
    font-size: 1.125rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 45%;
    margin-top: 1rem;
    line-height: 1.75rem;
    width: 100%;
  }
  .tools-section .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .tools-section .card-container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
  }
  .client-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    padding: 2.25rem;
  }
  .client-section .client-group {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem;
    width: 100%;
  }
  .callback-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 2.25rem;
  }
  .callback-section h2 {
    font-size: 2rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 800;
    text-align: center;
    color: hsl(210, 10%, 33%);
  }
  .callback-section p {
    font-size: 1.125rem;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
    width: 45%;
    margin-top: 1rem;
    line-height: 1.75rem;
    width: 100%;
  }
  .callback-section .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 3rem;
    row-gap: 1.5rem;
  }
  .callback-section .btn-container .btn {
    font-size: 1.125rem;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    border: none;
    background-color: hsl(233, 100%, 69%);
    color: white;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 340px;
    padding: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  .callback-section .btn-container :last-child {
    font-size: 1.125rem;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    border: none;
    background-color: hsl(171, 66%, 44%);
    color: white;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 1.2rem;
  }
  .callback-section .btn-container .btn:hover {
    opacity: 0.8;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 2rem;
    background-color: hsl(0, 0%, 95%);
  }
  .footer-link .nav-brand {
    width: 50px;
    height: 50px;
  }
  .footer-link .link-group {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    row-gap: 2rem;
    margin-left: 0rem;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
  }
  .footer-link .link-group li a {
    text-align: center;
  }
  .footer-link .link-group li a:hover {
    color: hsl(171, 66%, 44%);
  }
  .footer-link .social-link {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin-left: 0rem;
  }
}/*# sourceMappingURL=main.css.map */